MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=django_muestras
MYSQL_USER=muestras
MYSQL_PASSWORD=cambia-esta-clave-en-tu-entorno
MYSQL_ROOT_PASSWORD=cambia-esta-clave-root

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=cambia-esta-clave-admin
DJANGO_SUPERUSER_EMAIL=admin@example.com

DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SECRET_KEY=cambia-esta-secret-key-local
COMPOSE_WEB_BIND=127.0.0.1:8000:8000
COMPOSE_DB_BIND=127.0.0.1:3307:3306
